<h1 class="page-header">Account Information</h1>
<div *ngIf="user">
  <ul class="list-group">
    <div>
      <li class="list-group-item col-md-3">Username</li>
      <li class="list-group-item col-md-8 col-md-offset-1">{{user.username}}</li>
    </div>
    <div>
      <li class="list-group-item col-md-3">Name</li>
      <li  class="list-group-item col-md-8 col-md-offset-1">{{user.name}}</li>
    </div>
    <div>
      <li class="list-group-item col-md-3">Email</li>
      <li  class="list-group-item col-md-8 col-md-offset-1">{{user.email}}</li>
    </div>
    <div>
      <li class="list-group-item col-md-3">Contact</li>
      <li  class="list-group-item col-md-8 col-md-offset-1">{{user.contact}}</li>
    </div>
    <div>
      <li class="list-group-item col-md-3">Password</li>
      <li  class="list-group-item col-md-8 col-md-offset-1">***********</li>
    </div>
  </ul>
  <button class="btn btn-primary btn-lg" (click)="displayForm = !displayForm">Change Password</button>
  <div *ngIf="displayForm">
    <form (submit)="changePassword()">
      <div class="form-group">
        <label>Old Password: </label>
        <input type="password" class="form-control" [(ngModel)]="old_password" name="old_password">
      </div>
      <div class="form-group">
        <label>New Password: </label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password">
      </div>
      <div class="form-group">
        <label>Comfirm Password: </label>
        <input type="password" class="form-control" [(ngModel)]="re_password" name="re_password">
      </div>
      <input type="submit" class="btn btn-primary" value="Change Password">
    </form>
  </div>
  
</div>
